<form hx-encoding='multipart/form-data' hx-post='companyupload' hx-target='#myinclude'
    _='on htmx:xhr:progress(loaded, total) set #progress.value to (loaded/total)*100'>
    <input type='file' name='file' accept=".csv,">
    <br>
    <br>
    <button  type="submit" _="on click put 'Started...' into the next <output/>  " >
    Upload Company
    </button>
    <br>
    <progress   id='progress' value='0' max='100'></progress>
    <br>
    <output></output>
</form>

<p>Delete or check imported data:</p>
<a href="" hx-delete="{% url 'deleterow' %}" hx-confirm="Are you sure to delete?" hx-target="#myinclude">Delete Data</a>
<br>
<br>
<a href="" hx-get="{% url 'printrow' %}" hx-target="#myinclude" >Print Rows in the terminal</a>

{% if msg %}
<script>
    alert('{{ msg }}');
</script>
{% endif %}